@charset "UTF-8";
/*웹폰트*/
@font-face {
  font-family: 'SungDongGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongGothic/SungDongGothicB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongGothic/SungDongGothicB.woff') format('woff');
}

@font-face {
  font-family: 'SungDongGothic';
  font-style: normal;
  font-weight: 800;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongGothic/SungDongGothicEB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongGothic/SungDongGothicEB.woff') format('woff');
}
html{
	font-family: 'SungDongGothic';
}
/* 아이프래임 css */
iframe#iframe_content_0{
	height: 100vh;
	width: 877px;
	position: relative;
	left: 2.5%;
}

#list-open{
	width: 1000px;
	list-style: none;
	padding: 0;
}
.open{
	height: 200px;
	width: 234px;
	position: relative;
	margin-top: 10px;
	float: left;
	border: 1px solid;
	margin-right: 16px;
	/* border: 1px solid #ffb6c1; */
	border:2px solid #d6d6d6;
	cursor: pointer;
}
.content{
	overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
}
#job{
	width:1000px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
/* 디테일 바디 부분 css */
.job-searchDetail-Container{
	position: relative;
	margin:0 auto;
	width:1000px;
	padding: 40px 44px 100px;
	background: #fff;
}

/* 해더 */
.job-searchDetail-Header{
	padding-bottom: 20px;
	min-height: 80px;
}
.searchDetail-Header{
	line-height: 20px;
	letter-spacing: -1px;
	position: relative;
}
.company-title{
	font-size:1.5em;
	margin-top: 4px;
	font-weight: bold;
	line-height: 34px;
	
}
.company-name{
	display: inline-block;
	overflow: hidden;
	height: 27px;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 23px;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	color:#444;
}

/*메인 컨텐츠 영역*/
.searchDetail-cont{
	position: relative;	
}
.searchDetail-cont .searchDetail-content+.searchDetail-content{
	margin-left: 30px;
}
.searchDetail-content{
	float: left;
	padding: 25px 0 30px;
	width:430px;
	letter-spacing: -0.5px;
	border-top: 1px solid black;
}
.searchDetail-content>dl{
	display:block;
	position: relative;
	padding-left:86px;
	min-height: 22px;
}
.searchDetail-content>dl>dt{
	position: absolute;
	top:0;
	left: 0;
	line-height: 23px;
}
.searchDetail-content>dl>dd{
	line-height: 23px;
}

/* 추천 채용 css */
.recommend-open{
    height: 160px;
    width: 225px;
    position: relative;
    margin-top: 10px;
    float: left;
    border: 1px solid;
    margin-right: 16px;
    box-shadow: 5px 5px 5px #ffb6c1;
    border: 1px solid #ffb6c1;
    cursor: pointer;

}
.recommend-content{
	overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #fff;
	
}
/*추천 채용 제목*/
.recruitTitle{
	display: block;
	overflow: hidden;
	max-height: 39px;
	line-height: 19px;
	text-overflow: ellipsis;
	margin-top: 5px;
	font-size: 0.8em;
	font-family: 'SungDongGothic', sans-serif;
	font-weight: 700;
}
/* 유료광고 2탄 */
.Ad2{
	width: 200px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 2%;
    margin-left: 0%;
}
/*Day*/
.endDate{
    position: absolute;
    right: 25px;
    bottom: 13px;
    line-height: 15px;
    font-size: 0.8em;
    letter-spacing: 0;
}
.APiendDate{
	position: absolute;
    right: 25px;
    bottom: 13px;
    line-height: 15px;
    font-size: 0.8em;
    letter-spacing: 0;
}
