@charset "UTF-8";
/* resume 이력서 css */
#content{
	margin : 0 auto;
}
#deleteBox {
	float : right;
}
#content input {
	margin : 5px;
}
#content select {
	margin : 5px;
}
#content textarea {
	margin-left : 5px;
}
#resumeTitle{
	margin : 5px auto;
	width : 900px;
	background : white;
}
[id$=Wrap]{
	margin : 5px auto;
	width : 900px;
	background : white;
}
div[name=container] {
	background : lightsteelblue;
	padding-bottom : 30px;
}
h3{
	margin-left : 104px;
}
.btn-outline-info{
	margin : 0 auto;
	width : 900px;
}
#addUrl{
	width : 435px;
}
#addFile{
	width : 435px;
}
#saveButton{
	width : 100px;
}
#finishButtonWrap{
	width : 250px;
	background : lightsteelblue;
}
/* 경력 */
#buttonCareer {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
#formCareer1 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formCareer1 li {
	display : inline-block;
	padding : 0;
	border : 0;
	width : 170px;
	margin-right : 8px;
}
#formCareer1 {
	background : white;
	border : 0;
}
#formCareer1 input:text {
	width : 150px;
}
#formCareer1 ul li:last-child{
	width : 140px;
}
#formCareer2 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formCareer2 li {
	display : inline-block;
	padding : 0;
	border : 0;
	width : 170px;
	margin-right : 8px;
}
#formCareer2 {
	background : white;
	border : 0;
}
#formCareer3 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formCareer3 li {
	display : inline-block;
	padding : 0;
	border : 0;
	float : left
}
#formCareer3 ul li:first-child{
	font-size : 20px;
	margin-left : 20px;
	width : 90px;
	margin-top : 20px;
	margin-right : 8px;
}
#formCareer3 li textarea {
	width : 740px;
	margin-bottom : 5px;
	min-height : 75px;
	resize : vertical;	
}
/*포트폴리오*/
#potfolioList {
	display : inline-block;	
}
#potfolioList ul{
	list-style : none;
	margin : 0;
	padding : 0;
}
#potfolioList li {
	margin-top : 5px;
	margin-bottom : 5px;
	float : left;
}
#potfolioList li:first-child{	
	padding : 0;
	border : 0;
	margin-left : 30px;
	margin-right : 5px;
}
#potfolioList ul>li>input {
	display : inline-block;
	width : 500px;
}
#potfolioList li:last-chlid {
	float : right;
}
/* 인적사항 */
#name {
	width : 200px;
}
#birth {
	width : 200px;
}
#gender {
	width : 150px;
}
#tel {
	width : 200px;
}
/* 희망근무조건 */
#formHopework1 {
	background : white;
	border : 0;
}
#formHopework1 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formHopework1 li {
	display : inline-block;
	padding : 0;
	border : 0;
}
#formHopework1 ul li:first-child {
	margin-right : 10px;
	width : 500px;
}
#formHopework1 ul li:last-child {
	margin-left : 10px;
}
#formHopework2 ul {
	list-style : none;
	margin : 0;
	padding : 0;
	margin-bottom : 8px;
}
#formHopework2 li {
	display : inline-block;
	padding : 0;
	border : 0;
	float : left
}
#formHopework2 ul li:first-child{
	font-size : 20px;
	margin-left : 45px;
	width : 120px;
	margin-top : 20px;
	margin-right : 33px;
}
#formHopework2 ul li:last-child{
	width : 670px;
	min-height : 75px;
}
#formHopework3 ul {
	list-style : none;
	margin : 0;
	padding : 0;
	margin-bottom : 8px;
}
#formHopework3 li {
	display : inline-block;
	padding : 0;
	border : 0;
	float : left
}
#formHopework3 ul li:first-child{
	font-size : 20px;
	margin-left : 20px;
	width : 170px;
	margin-top : 20px;
	margin-right : 8px;
}
#formHopework3 ul li:last-child{
	width : 670px;
	min-height : 75px;
}
/* 자기소개서 */
#formLetter input {
	width : 860px;
	height : 50px;
}
#formLetter textarea {
	width : 885px;
	height : 300px;
	resize : none;
}
.deleteLetter {
	float : right;
}
.letterDiv {
	display : inline-block;
}
.deleteLetter {
	margin-top : 3px;
	margin-right : 3px;
}
/* 취업우대 */
#formPreference {
	width : 850px;
	margin-left : 50px;
	margin-right : 10px;
	margin-top : 10px;
}
#divCheckbox {
	height : 30px;
	font-size : 20px;
	margin-top : 5px;
	margin-bottom : 5px;
}
#divCheckbox  ul{
	list-style : none;
	margin : 0;
	padding : 0;
}
#divCheckbox li {
	margin-right : 30px;
	padding : 0;
	border : 0;
	float : left;
}
#preferselect {
	margin-left : 45px;
	margin-top : 5px;
}
#preferselect select {
	width : 150px;
}
#preferdisorder {
	display : none;
}
#prefermilitary {
	display : none;
}
/*어학*/
#formLanguage {
	display : block;
}
#formLanguage1 select{
	width : 200px;
}
#formLanguage1 input {
	width : 200px;
}
#formLanguage2 input {
	width : 200px;
}
#formLanguage input[name=selftext] {
	display : none;
}
#formLanguage select[name=examname] {
	width : 200px;
	display : none;
}
#formLanguage input[name=selfexam] {
	display : none;
}
#formLanguage input[name=examscore] {
	display : none;
}
#formLanguage input[name=examdate] {
	display : none;
}
#buttonLanguage {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
/* 해외경험 */
#buttonOverseas {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
#formOverseas2 ul{
	list-style : none;
	margin : 0;
	padding : 0;
}
#formOverseas2 li {
	margin-right : 30px;
	padding : 0;
	border : 0;
	float : left;
}
#formOverseas2 li:first-child {
	font-size : 20px;
	margin-left : 25px;
	margin-top : 20px;
}
#formOverseas2 textarea {
	width : 761px;
	margin-bottom : 5px;
	min-height : 75px;
	resize : vertical;	
}
/*수상*/
#buttonAward {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
#formAward2 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formAward2 li {
	margin-right : 30px;
	padding : 0;
	border : 0;
	float : left;
}
#formAward2 li:first-child {
	font-size : 20px;
	margin-left : 25px;
	margin-top : 25px;
}
#formAward2 textarea {
	width : 720px;
	margin-bottom : 5px;
	min-height : 75px;
	resize : vertical;	
}
/*자격증*/
#buttonCert {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
div[name=showCertificate] ul{
	list-style : none;
	margin : 0;
	padding : 0;
	overflow : scroll;
	max-width :280px;
	max-height : 100px;
	position : relative;
	z-index : 1;
}
div[name=showCertificate] li {
	text-align : center;
}
div[name=showCertificate] {
	width : 280px;
}
div[name=showCertificate] ul a {
	cursor : pointer;
}
/*교육*/
#formLearn2 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formLearn2 li {
	margin-right : 30px;
	padding : 0;
	border : 0;
	float : left;
}
#formLearn2 li:first-child {
	font-size : 20px;
	margin-left : 26px;
	margin-top : 23px;
}
#formLearn2 textarea {
	width : 760px;
	margin-bottom : 5px;
	min-height : 75px;
	resize : vertical;	
}
#buttonLearn {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
/*인턴*/
#formIntern2 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formIntern2 li {
	margin-right : 30px;
	padding : 0;
	border : 0;
	float : left;
}
#formIntern2 li:first-child {
	font-size : 20px;
	margin-left : 26px;
	margin-top : 23px;
}
#formIntern2 textarea {
	width : 720px;
	margin-bottom : 5px;
	min-height : 75px;
	resize : vertical;	
}
#buttonIntern {
	background : white;
	margin : 0 auto;
	width : 900px; 
}
/*학력*/
#formEducation1 {
	display : inline-block;	
}
#formEducation1 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formEducation1 li {
	display : inline-block;
	padding : 0;
	border : 0;
}
div[name=searchHidden] {
	width :200px;
	margin-left : 150px;
}
div[name=searchHidden] ul {
	overflow : scroll;
	max-width :200px;
	max-height : 100px;
	position : relative;
	z-index : 1;
}
div[name=searchHidden] ul a {
	cursor : pointer;
}
#formEducation2 {
	float : right;
	margin-right : 65px;
	display : none;
}
#formEducation2 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formEducation2 li {
	display : inline-block;
	padding : 0;
	border : 0;
}
#formEducation3 {
	float : right;
	margin-right : 8px;
	display : none;
}
#formEducation3 input{
	width : 150px;
}
#formEducation3 input[name=transfer]{
	width : 20px;
}
#formEducation3 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formEducation3 li {
	display : inline-block;
	padding : 0;
	border : 0;
}
#formEducation4 {
	display : none;
}
#formEducation4 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formEducation4 li {
	display : inline-block;
	padding : 0;
	border : 0;
}
#formEducation5 {
	margin-left : 5px;
	display : none;
}
#formEducation5 button {
	margin-bottom : 5px;
}
#formEducation5 ul {
	list-style : none;
	margin : 0;
	padding : 0;
}
#formEducation5 li {
	padding : 0;
	border : 0;
	display : inline-block;
}
#formEducation5 textarea {
	margin-bottom : 5px;
	width : 875px;
	height : 75px;
} 
#formEducation5 ul {
	display : none;
}
#buttonEducation {
	margin : 0 auto;
	width : 900px; 
}
#buttonEducation button{
	background : white;
}
#educationHeader {
	width : 900px;
	margin : 0 auto;
}
#headerText {
	display : inline-block;
}
#headerText h3 {
	margin-left : 0;
}
#headerInput {
	display : inline-block;
	float : right;
}