<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="index">
	
	<select id="selectOneRecruitment" resultType="recruitment" parameterType="map">
		select t.*,(select count(*) from favorites where recruitment_no = t.recruitment_no  and member_id = #{memberId}) favoritesCount from recruitment t where recruitment_no = #{recNo}
	</select>
	<select id="selectOneCompany" resultType="company" parameterType="string">
		select * from company where comp_id = #{compId}
	</select>
	
	<select id="selectStatistics" resultMap="Member" parameterType="_int">
		select m.member_id,m.birth,m.gender,a.comp_id,a.cu_resdate from member m join companyApplication a on m.member_id = a.member_id where a.recruitment_no=#{recruitment_no}
	</select>
	<resultMap type="member" id="Member">
		<id column="member_id" property="memberId"/>
		<result column="birth" property="birth"/>
		<result column="gender" property="gender"/>
 		<association javaType="ca" property="ca">
			<result column="comp_id" property="compId"/>
			<result column="cu_resdate" property="cuResdate"/>
		</association>
	</resultMap>
	
	<insert id="insertLocation" parameterType="map">
		insert into area values(#{code},#{name})
	</insert>
	<select id="selectListRecruitment" resultType="recruitment">
		select t.* from(select s.*,(select comp_name from company where comp_id = s.comp_id)compName,(select count(*) from favorites where member_id = #{memberId} and recruitment_no = s.recruitment_no) favoritesCount from recruitment s order by recruitment_no desc )t where rownum between 1 and 6
	</select>
	<select id="selectOneFavorites" parameterType="map" resultType="favorites">
		select * from favorites where member_id = #{memberId} and recruitment_no = #{recNo} and select_no = 0
	</select>
	<insert id="insertFavorites" parameterType="map">
		insert into favorites values(seq_favorites_no.nextval,#{memberId},#{recNo},#{compId},0)	
	</insert>
	<delete id="deleteFavorites" parameterType="map">
		delete from favorites where member_Id = #{memberId} and recruitment_no = #{recNo}
	</delete>
	
	<!-- 상세조건으로 하는 검색 -->
	<select id="selectListSearchIthrer" parameterType="map" resultType="map">
		select * from recruitment join area using(location_code) where recruitment_title like '%'||#{searchKeyword}||'%'
		
		<if test="locationCode != null and locationCode != ''">
			and (location_code in
			<foreach collection="locationCode" item="item" open="(" close=")" separator=","> 
				#{item}		
			</foreach>
			or location_total_code in
			<foreach collection="locationCode" item="item" open="(" close=")" separator=","> 
				#{item}		
			</foreach>
			)
		</if>
		
		<if test="salary != null and salary !=''">
			and(pay_condition = '회사내규를따름' or pay_condition > #{salary})
		</if>
		
		<if test="age != 0 and age !=''">
			and applicant_age_start <![CDATA[<=]]> #{age}
			and applicant_age_end #{age}
		</if>
		
		<if test="gender != null and gender !=''">
			and gender_cut = #{gender}
		</if>
		
		<if test="subway != null and subway != ''">
			and nearby_station LIKE '%'||#{subway}||'%'
		</if>
		
		<if test="licence != null and licence != ''">
			and CERTIFICATE LIKE '%'||#{licence}||'%'
		</if>
		
		<if test="major != null and major[0] != 'undefined'">		
			and 
			<foreach collection="major" item="item" open="(" close=")" separator=" or ">
				major like '%'||#{item}||'%'			
			</foreach>
		</if>
		
		<if test="position != null and position[0] != 'undefined'">
			and 
			<foreach collection="position" item="item" open="(" close=")" separator=" or ">
			 	position like '%'||#{item}||'%'	
			</foreach>
		</if>
		
		<if test="preference != null and preference[0] != 'undefined'">
			and 
			<foreach collection="preference" item="item" open="(" close=")" separator=" or ">			
				EMPLOYMENT_PREFERENCE like '%'||#{item}||'%'		
			</foreach>
		</if>
		
		<if test="emp_type != null and emp_type[0] != 'undefined'">
			and 
			<foreach collection="emp_type" item="item" open="(" close=")" separator=" or ">			 
				EMPLOYMENT_TYPE like '%'||#{item}||'%'
			</foreach>
		</if>
		
		<if test="work_day != null and work_day[0] != 'undefined'">
			and 
			<foreach collection="work_day" item="item" open="(" close=")" separator=" or ">
				work_day like '%'||#{item}||'%'	
			</foreach>
		</if>
		
	</select>
	
	<insert id="insertPortFolio" parameterType="portfolio">
		insert into potfolio values(null,#{pOriginalFileName},#{pRenamedFileName},'ikso2000',seq_potfolio_no.nextval)
	</insert>
	<update id="updateMember" parameterType="map">
		update member set email = #{email}, phone =#{phone} where member_id=#{memberId}
	</update>
	<insert id="insertCompanyApplication" parameterType="map">
		insert into companyapplication values(#{memberId},#{recruitmentNo},default,#{compId},seq_companyapplication_no.nextval,default,#{resumeNo})
	</insert>
	<select id="selectCountCompanyApplication" parameterType="map" resultType="_int">
		select count(*) count from companyapplication where recruitment_no=#{recNo} and member_id = #{memberId}
	</select>
	<select id="selectTopListRecruitment" parameterType="map" resultType="recruitment">
		select t.* from(select s.*,(select comp_name from company where comp_id = s.comp_id)compName,(select count(*) from favorites where member_id = #{memberId} and recruitment_no = s.recruitment_no) favoritesCount,(select count(*) from companyapplication where recruitment_no = s.recruitment_no ) count from recruitment s order by count desc )t where rownum between 1 and 6
	</select>
</mapper>
