<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="index">
	
	<select id="selectOneRecruitment" resultType="recruitment" parameterType="_int">
		select * from recruitment where recruitment_no = #{recruitmentNo}
	</select>
	<select id="selectOneCompany" resultType="company" parameterType="string">
		select * from company where comp_id = #{compId}
	</select>
	
	<select id="selectStatistics" resultMap="Member" parameterType="_int">
		select m.member_id,m.birth,m.gender,a.comp_id,a.cu_resdate from member m join companyApplication a on m.member_id = a.member_id where a.recruitment_no=#{recruitment_no}
	</select>
	<resultMap type="member" id="Member">
		<id column="member_id" property="memberId"/>
		<result column="birth" property="birth"/>
		<result column="gender" property="gender"/>
 		<association javaType="ca" property="ca">
			<result column="comp_id" property="compId"/>
			<result column="cu_resdate" property="cuResdate"/>
		</association>
	</resultMap>
	
	<insert id="insertLocation" parameterType="map">
		insert into area values(#{code},#{name})
	</insert>
</mapper>
