<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
		"-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- api주소 : http://www.mybatis.org/mybatis-3/ko/configuration.html#settings -->
		<!-- 실제 데이터가 null이면 문자 NULL로 처리하도록 만드는 것 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- _로 되어있는 칼럼 네임을 자동으로 카멜식으로 바꿔줌 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- 풀네임의 경로를 별칭처리하는 것 -->
	<typeAliases>
		<typeAlias type="com.spring.ithrer.company.model.vo.Company" alias="company"/>
		<typeAlias type="com.spring.ithrer.company.model.vo.Recruitment" alias="recruitment"/>
		<typeAlias type="com.spring.ithrer.company.model.vo.HRManager" alias="hrManager"/>
		<typeAlias type="com.spring.ithrer.company.model.vo.Sales" alias="sales"/>
		<typeAlias type="com.spring.ithrer.user.model.vo.Member" alias="member"/>
		<typeAlias type="com.spring.ithrer.index.model.vo.CompanyApplication" alias="ca"/>
		<typeAlias type="com.spring.ithrer.company.model.vo.Location" alias="location"/>
		<typeAlias type="com.spring.ithrer.board.model.vo.AnonyBoard" alias="anonyboard"/>
		
		<typeAlias type="com.spring.ithrer.common.model.vo.Favorites" alias="favorites"/>
	</typeAliases>

</configuration>

<!-- jdbc에서는 connection객체를 통해 가져왔지만 mybatis는 sqlsession을 통해 연결해서 디비와 연동 -->