<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="company">

	<!-- compId를 통해서 하나의 Company 정보 가져오기 -->
	<select id="selectCompanyOne" parameterType="string" resultType="company">
		select c.*, to_char(date_of_establishment, 'yyyy-mm-dd') as doe from company c where comp_id = #{compId} and del_flag = 'N'
	</select>
	
	<!-- company 수정 -->
	<update id="updateCompany" parameterType="company">
		update company set comp_name=#{compName},representive=#{representive},license_no=#{licenseNo},date_of_establishment=to_date(#{dateOfEstablishment},'yyyy-mm-dd'),
		category=#{category},main_bussiness=#{mainBussiness},classification=#{classification},capital=#{capital},listed=#{listed},introduction=#{introduction},
		personnel=#{personnel},phone=#{phone},fax=#{fax},homepage=#{homepage},bussiness_scale=#{bussinessScale},location=#{location}
		where comp_id=#{compId}
	</update>
	
	<!-- compId를 통해서 인사담당자 리스트 가져오기 -->
	<select id="selectHRManagerList" parameterType="string" resultType="hrManager">
		select * from humanresources where comp_id = #{compId} order by enrolldate
	</select>
	
	<!-- compId를 통해서 매출액 리스트 가져오기 -->
	<select id="selectSalesList" parameterType="string" resultType="sales">
		select * from sales where comp_id = #{compId} order by year desc
	</select>
	
	<!-- HrManager 삭제 -->
	<delete id="deleteHrManager" parameterType="_int">
		delete from humanresources where no = #{no}
	</delete>
	
	<!-- HrManager 추가 -->
	<insert id="insertHrManager" parameterType="hrManager">
		insert into humanresources values (seq_hr_no.nextval,#{compId},#{name},#{department},#{position},#{phone},#{email},default)
	</insert>
	
	<!-- HrManager 업데이트 -->
	<update id="updateHrManager" parameterType="hrManager">
		update humanresources set name = #{name}, department = #{department}, position = #{position}, phone = #{phone}, email = #{email}
		where comp_Id = #{compId} and no = #{no}
	</update>
	
	<!-- Sales 업데이트 -->
	<update id="updateSales" parameterType="sales">
		update sales set sales=#{sales} where comp_id=#{compId} and year=#{year}
	</update>
	
	<!-- Sales 추가 -->
	<insert id="insertSales">
		insert into sales values (#{compId},#{year},#{sales})
	</insert>
	
	<!-- Sales 삭제 -->
	<delete id="deleteSales" parameterType="sales">
		delete from sales where comp_id=#{compId} and year=#{year}
	</delete>
	
	<!-- Location List 선택 -->
	<select id="selectLocationList" parameterType="string" resultType="location">
		select * from location where comp_id=#{compId} order by name
	</select>
	
	<!-- Location 추가 -->
	<select id="insertLocation" parameterType="location">
		insert into location values (#{compId},seq_location_no.nextval,#{name},#{address},#{addAddress},#{etc})
	</select>
	
	<!-- Location 삭제 -->
	<delete id="deleteLocation" parameterType="location">
		delete from location where no = #{no}
	</delete>
	
	<!-- Location 수정 -->
	<update id="updateLocation" parameterType="location">
		update location set name=#{name}, address=#{address}, add_address=#{addAddress}, etc=#{etc} where comp_id=#{compId} and no=#{no}
	</update>
	
	<!-- 지원한 회사 List 가져오기 -->
	<select id="selectCompanyAppList" parameterType="string" resultType="ca">
		select * from companyapplication where comp_id=#{compId}
	</select>
	
	<select id="selectApplicant" parameterType="map" resultType="member">
		select * from member where member_id=#{memberId}
	</select>
	
	
</mapper>