<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatbot">
	<select id="selectBoardList" resultType="anonyboard">
		select * from (select * from anonyboard order by anonyboarddate desc) where rownum between 1 and 5 
	</select>
	<select id="selectPassBoardList" resultType="passboard">
		select * from (select * from passboard order by passboarddate desc) where rownum between 1 and 4
	</select>
</mapper>
