<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="anonyboard">

	<select resultMap="boardMap" id="selectAnonyBoardList">select * from anonyBoard order by anonyBoardNo desc</select>
	<resultMap id="boardMap" type="map"> </resultMap>
	
	<select id="selectAnonyBoardTotalContents" resultType="_int">select count(*) from anonyboard </select>
	
	<select resultType="anonyboard" id="selectAnonyBoardOne">select * from anonyBoard where anonyBoardNo = #{anonyBoardNo} </select>

	<insert id="insertAnonyBoard" parameterType="anonyboard">
	insert into anonyBoard(anonyBoardno, anonyBoardTitle, anonyBoardWriter, anonyBoardContent)values(seq_anonyboardno.nextval,#{anonyBoardTitle},#{anonyBoardWriter},#{anonyBoardContent}) 
	<!-- <selectKey resultType="_int" order="AFTER" keyProperty="anonyBoardNo">select seq_boardno.currvalfrom dual </selectKey> -->
	</insert>
	
<!-- <insert id="insertAttachment">insert into attachment(attachmentno,boardno,originalfilename,renamedfilename)values (seq_attachmentno.nextval,#{boardNo},#{originalFileName},#{renamedFileName}) </insert> -->

</mapper>
