<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			<!--  #7.1 Spring Security 설정파일 등록 -->
    		/WEB-INF/spring/security-context.xml
    		/WEB-INF/spring/security-context2.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>appServlet2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.ithrer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>appServlet2</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- utf-8 처리 시작 -->
	<filter>
    	<filter-name>encodingFilter</filter-name>
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    	<init-param>
      		<param-name>encoding</param-name>
      		<param-value>utf-8</param-value>
    	</init-param>
  	</filter>
  	
  	<!-- cross domain 해결코드 -->
	<!-- <filter>
    	<filter-name>cors</filter-name>
    	<filter-class>com.spring.ithrer.common.filter.SimpleCORSFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>cors</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
  	<filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>*.ithrer</url-pattern>
  	</filter-mapping>
	
	<filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>/</url-pattern>
  	</filter-mapping>
	<!-- 모든 커맨드에 utf*8 처리 끝 -->
	
	<!-- 로그인 세션 유지 시간 지정 (단위: 분) -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- CORS -->
	<filter>
		<filter-name>cors</filter-name>
		<filter-class>com.spring.ithrer.cors.SimpleCORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- error Page 설정 -->
	<error-page>
	    <exception-type>java.lang.Throwable</exception-type>
	    <location>/WEB-INF/views/common/error.jsp</location>
	</error-page> 
	
	<!-- spring security 중복 로그인 -->
	<listener>
    	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Spring Security --> 
	<filter> 
		<filter-name>springSecurityFilterChain</filter-name> 
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
	</filter> 
	
	<filter-mapping> 
		<filter-name>springSecurityFilterChain</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<error-page>
	    <error-code>404</error-code>
	    <location>/WEB-INF/views/common/error.jsp</location>
	</error-page>
	
	<error-page>
	    <error-code>500</error-code>
	    <location>/WEB-INF/views/common/error.jsp</location>
	</error-page>

</web-app>